#password-prompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#password-prompt input[type=password] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

#submit-button {
  padding: 10px 20px;
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#submit-button:hover {
  background-color: #007AA3;
}

#video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
